<h1>Admin Dashboard</h1>

<div class="alert alert-primary"><a href="/admin/products">Product count: </a><%= @product_count %></div>
<div class="alert alert-primary">Catagory count: <%= @category_count %></div>

